<div id="main-content">
    <h3>{{clipByParam.title}}</h3>
    
    <div class="flex-container flex-row flex-split flex-top-aligned">
        <div class="video-content">
            <iframe src={{clipByParam.embed}} width='640' height='360' frameborder='0' scrolling='no' allowfullscreen='true'></iframe>
            <p>External link: <a href="{{clipByParam.url}}">Twitch site</a></p>
        </div>
        <div class="tag-list">
            <ModelCard::ClipCard @clip={{clipByParam}} @modelType="clip" @tags={{model.tags}} @addTag={{addTag}} @removeTag={{removeTag}} />
        </div>
    </div>
</div>
