<div id="main-content">

    <h3>Clip Overview</h3>

    <div class="search-container flex-container flex-row">
        <Search::ModelSearch @model={{model}} @updateSearch={{action updateSearch}} @searchQuery={{searchQuery}} />
    </div>

    <div class="flex-container flex-row">
        {{#each filteredClips as |clip|}}
            <ModelCard::ClipCard @clip={{clip}} @modelType="clip" @tags={{model.tags}} @addTag={{addTag}} @removeTag={{removeTag}} />
        {{/each}}
    </div>
</div>