
{{!-- <div class="flex-container flex-row">
    <div class="toggle-wrapper">
        <label>
            <Input @type="checkbox" @change={{action toggleCardLayout}} >View as table</Input>
            <span class="toggle-background"></span>
            Toggle table view
        </label>
    </div>
</div> --}}

<div class="flex-container flex-row">
    {{#if cardsOn}}
            {{#each limitedModel as |item|}}
                {{#if isClip}}
                    <ModelCard::ClipCard @clip={{item}} @modelType={{@modelType}} @tags={{@tags}} @addTag={{@addTag}} @removeTag={{@removeTag}} />
                {{/if}}

                {{#if isVod}}
                    <ModelCard::VodCard @vod={{item}} @modelType={{@modelType}} @tags={{@tags}} @addTag={{@addTag}} @removeTag={{@removeTag}} />
                {{/if}}
            {{/each}}
    {{else}}
        {{#if isClip}}
            {{clipTable}}
        {{/if}}

        {{#if isVod}}
            {{vodTable}}
        {{/if}}
    {{/if}}    
</div>
