<aside id="filter-menu">
    <div class="filter-box flex-container flex-row">
        <h5>Filters</h5>
        <div class="filter-box-dropdown flex-container flex-row">
            <div class="filter-box-dropdown-wrapper">
                <Search::FilterDropdown @label="Games" @data={{@gameList}} @active={{@filterByGame}} @addFilter={{@addFilter}} @type="game" />
            </div>
            <div class="filter-box-dropdown-wrapper">
                <Search::FilterDropdown @label="Years" @data={{@yearList}} @active={{@filterByYear}} @addFilter={{@addFilter}} @type="year" />
            </div>
        </div>
        <div class="flex-container flex-row tag-space">
            {{#each @filterByGame as |game|}}
                <Search::FilterTag @label={{game}} @removeFilter={{@removeFilter}} @type="game" />
            {{/each}}

            {{#each @filterByYear as |year|}}
                <Search::FilterTag @label={{year}} @removeFilter={{@removeFilter}} @type="year" />
            {{/each}}
        </div>
    </div>
</aside>