<div id="main-content">

    <Search::ModelSearch @updateSearch={{updateSearch}} @searchQuery={{searchQuery}} />
    <Search::FilterBox @gameList={{gameList}} @yearList={{yearList}} @filterByGame={{filterByGame}} @filterByYear={{filterByYear}} @removeFilter={{removeFilter}} @addFilter={{addFilter}} />

    <Search::SearchStats @model={{filteredModels}} @tags={{model.tags}} />

    <div id="search-result-container" class="flex-container flex-col">
        {{#if filteredModels.clips}}
            <h3>Most viewed clips</h3>
            <Search::FilterList @model={{filteredModels.clips}} @modelType="clip" @tags={{model.tags}} @addTag={{addTag}} @removeTag={{removeTag}} />
        {{else}}
            <p>Oh noes! No clips were found for your search. 😔</p>
        {{/if}}

        <hr />

        {{#if filteredModels.vods}}
            <h3>Most viewed vods</h3>
            <Search::FilterList @model={{filteredModels.vods}} @modelType="vod" @tags={{model.tags}} @addTag={{addTag}} @removeTag={{removeTag}} />
        {{else}}
            <p>Bugger! No vods were found for your search criteria. 😭</p>
        {{/if}}
    </div>
</div>