{{#if @isEditable}}
    {{#if @isSelected}}
        <button class="tag-label selected" {{on "click" (fn @removeTag @item @tag @modelType)}}>
            <i class="gg-tag"></i>{{yield}}
        </button>
    {{else}}
        <button class="tag-label" {{on "click" (fn @addTag @item @tag @modelType)}}>
            <i class="gg-tag"></i>{{yield}}
        </button>
    {{/if}}
{{else}}
    {{#if @isSelected}}
        <button class="tag-label selected" >
            <i class="gg-tag"></i>{{yield}}
        </button>
    {{else}}
        <button class="tag-label" >
            <i class="gg-tag"></i>{{yield}}
        </button>
    {{/if}}
{{/if}}