<div class="card-item clip-card-item flex-container flex-col" style="background-image: url({{@vod.thumbnails.medium}});">
    <div class="card-item-title">
        <span class="flex-container flex-row">
            {{@vod.broadcaster}}
        </span>
        <h3><LinkTo @route="vods.vod" @model={{@vod}}>{{@vod.title}}</LinkTo></h3>
    </div>
    
    <section class="meta-info flex-container flex-col flex-col-bottom">
        <div class="flex-container flex-row flex-split">
            <div class="card-meta-info-half">
                <span class="flex-container flex-row">
                    <i class="gg-eye"></i>
                    <span>{{@vod.views}}</span>
                </span>
                <span class="flex-container flex-row">
                    <i class="gg-games"></i>
                    <span>{{#if @vod.isCSGO}}
                        CS:GO
                    {{else}}
                        {{@vod.game}}
                    {{/if}}</span>
                </span>
            </div>
            <div class="card-meta-info-half card-meta-info-half_right">
                <span class="flex-container flex-row fles-split">
                    <i class="gg-stopwatch"></i>
                    <span>{{time}}</span>
                </span>
                <span class="flex-container flex-row">
                    <i class="gg-calendar"></i>
                    <span>{{@vod.date}}</span>
                </span>
            </div>
        </div>
        
        <ModelCard::CardTagList @item={{@vod}} @modelType={{@modelType}} @tags={{@tags}} @addTag={{@addTag}} @removeTag={{@removeTag}} />
    </section>
</div>
